<table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="sortBy = 'id'; sortAsc = !sortAsc">
            Lp
            <span ng-show="sortBy == 'id' && !sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="sortBy == 'id' && sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortBy = 'first_name'; sortAsc = !sortAsc">
            Imię
            <span ng-show="sortBy == 'first_name' && !sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="sortBy == 'first_name' && sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="sortBy = 'name'; sortAsc = !sortAsc">
            Nazwisko
            <span ng-show="sortBy == 'name' && !sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="sortBy == 'name' && sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="hidden-xs">
          <a href="#" ng-click="sortBy = 'position'; sortAsc = !sortAsc">
            Stanowisko
            <span ng-show="sortBy == 'position' && !sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="sortBy == 'position' && sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          Opcje
        </th>
      </tr>
      <tbody>
        <tr ng-repeat="user in users | orderBy:sortBy:sortAsc">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.name}}</td>
          <td class="hidden-xs">{{user.position}}</td>
          <td>
            <button class="btn btn-default col-xs-12 col-sm-4">Pokaż</button>
            <button class="btn btn-default col-xs-12 col-sm-4">
                <a ng-click="readMessages(user)">
                    Wiadomości {{user.messages.length}}
                </a>
            </button>
            <button class="btn btn-default col-xs-12 col-sm-4">Usuń</button>
          </td>
        </tr>
      </tbody>
    </thead>
</table>