<table class="table table-bordered">
    <thead>
      <tr>
        <th>
          <a href="#" ng-click="PostIt.sortBy = 'id'; PostIt.sortAsc = !PostIt.sortAsc">
            Lp
            <span ng-show="PostIt.sortBy == 'id' && !PostIt.sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="PostIt.sortBy == 'id' && PostIt.sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="PostIt.sortBy = 'first_name'; PostIt.sortAsc = !PostIt.sortAsc">
            Imię
            <span ng-show="PostIt.sortBy == 'first_name' && !PostIt.sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="PostIt.sortBy == 'first_name' && PostIt.sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          <a href="#" ng-click="PostIt.sortBy = 'name'; PostIt.sortAsc = !PostIt.sortAsc">
            Nazwisko
            <span ng-show="PostIt.sortBy == 'name' && !PostIt.sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="PostIt.sortBy == 'name' && PostIt.sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th class="hidden-xs">
          <a href="#" ng-click="PostIt.sortBy = 'position'; PostIt.sortAsc = !sortAsc">
            Stanowisko
            <span ng-show="PostIt.sortBy == 'position' && !PostIt.sortAsc" class="fa fa-caret-down"></span>
            <span ng-show="PostIt.sortBy == 'position' && PostIt.sortAsc" class="fa fa-caret-up"></span>
          </a>
        </th>
        <th>
          Opcje
        </th>
      </tr>
      <tbody>
        <tr ng-repeat="user in PostIt.users | orderBy:PostIt.sortBy:PostIt.sortAsc">
          <td>{{user.id}}</td>
          <td>{{user.first_name}}</td>
          <td>{{user.name}}</td>
          <td class="hidden-xs">{{user.position}}</td>
          <td>
            <button class="btn btn-default col-xs-12 col-sm-4">Pokaż</button>
            <button class="btn btn-default col-xs-12 col-sm-4">
                <a ng-click="PostIt.readMessages(user)">
                    Wiadomości {{user.messages.length}}
                </a>
            </button>
            <button class="btn btn-default col-xs-12 col-sm-4">Usuń</button>
          </td>
        </tr>
      </tbody>
    </thead>
</table>